*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}


.nav{
    width: 6vw;
    height: 100vh;
    border-radius: 24px;
    background-color: black;   

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 10px 5px 20px 1px gray;
}




.nav_icon{
    width: 26px; 
    height: 26px;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}
.nav_icon__logo h1{
    position: relative;
    right: 10px;
    color: white;
    font-family: 'Baloo Bhai';
    font-size: 64px;    
    cursor: pointer; 
}

.nav_icon__logo{
    padding-top: 10px;
    padding-bottom: 100px;
    margin-top: 15px;
    margin-bottom: 64px;
}




.nav_icon__home{
    margin-bottom: 64px;
    background-image: url('./img/home.svg');
}

.nav_icon__stud{
    margin-bottom: 64px;
    background-image: url('./img/student.svg');
}

.nav_icon__mail{
    margin-bottom: 64px;
    background-image: url('./img/mail.svg');
}

.nav_icon__user{
    margin-bottom: 64px;
    background-image: url('./img/user.svg');
}

.nav_icon__setting{
    margin-bottom: 64px;
    background-image: url('./img/settings.svg');
}




.nav_icon__logout{
    margin-bottom: 40px;
    background-image: url('./img/logout.svg');
}



/* Second ===============================================================*/

.container{
    width: 30vw;
    height: 100vh;
    margin-top: 30px;


}

/* Hello Josh! */
.entry{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 15vh;
    background-color: #F5F5F7;
    border-radius: 14px;
}

.entry__title{
    margin-left: -70px;
}
.entry__title h1{
    font-family: 'Baloo Bhai';
}
.entry__title p{
    font-family: 'Roboto';
}

.entry__user{
    display: flex;
    align-self: flex-end;
}


/* Spanish B2 by Alejandro Velazquez */
.entry__language{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entry__language-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F7;
    width: 24vw;
    height: 8vh;
    border-radius: 14px;
    margin-top: 24px;
}

.entry__language-icon{
    margin: 8px 24px 8px 8.5px;
}

.entry__language-title{
    margin: 0 20px 0 -20px;
}
.entry__language-title h1{
    font-family: "Baloo Bhai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.entry__language-title p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.entry_language-button{
    margin: 19px 23px 19px 24px;
    background-color: black;
    width: 120px;
    height: 4vh;
    border-radius: 8px;
}

.entry_language-button p{
    color: white;
    padding: 12px 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
}


.entry__nav{
    margin-top: 24px;
    width: 5vw;
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
    align-items: center;
}

/* main_block__courses */
.main_block__courses{
    margin-top: 30px;

}

.main_block__courses h2{
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
}

.line_block__courses{
    display: flex;      
    flex-direction: row;
    justify-content: flex-start;
}


.line_block__courses .title_courses{
    margin-right: 30px;
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
    opacity: 0.3;
}

.line_block__courses .title_active{
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
    opacity: 1;
}

.list__courses{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.figma_course, .Analog-photography_course, .Master-Instagram_course, .Drawing_course, .Photoshop_course{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 8vh;
    background: #F5F5F7;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.list__courses h3{
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.list__courses p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.course__icon{
    margin-left: 8px;
}

.course__button{
    border: 2px solid #0C0B0B;
    border-radius: 8px;  
    width: 120px;
    height: 4vh;
    margin-right: 23px;
}

.course__button p{
    color: #0C0B0B;
    margin: 12px 22px;
}






/* Third ======================================================================== */

.aside{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.ahead__black{
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 5vh;
    
}
.search{
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.notification{
    width: 100%;
    background-image: url(./img/notification.svg);
    background-repeat: no-repeat;
}
.user__avatar{
    width: 100%;
    background-image: url(./img/avatar.png);
    background-repeat: no-repeat;
    
}

._second__black{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

._courses__completed{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 208px;
    height: 96.33px;
    border-radius: 14px;
    background: #F5F5F7;
}

._courses__in-progress{
    display: flex;
    justify-content: center;
    width: 208px;
    height: 96.33px;
    border-radius: 14px;
    background: #F5F5F7;
}



._courses__completed h2{
    font-family: 'Baloo Bhai';
    margin-right: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 102px;
}

._courses__completed p{
    display: flex;
    align-self: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
}

._courses__in-progress h2{
    font-family: 'Baloo Bhai';
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 102px;
}
._courses__in-progress p{
    display: flex;
    align-self: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
}


._statistics{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}

._main__title_statistics h2{
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;    
}

._properties__statistics{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

._properties__main_title h3{
    color: #0C0B0B;
    margin-right: 30px;
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;   
}

._properties__second_title h3{
    color: #0C0B0B;
    margin-right: 127px;
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.3;
}

._go__premium{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 440px;
    height: 193px;
    background-color: #F5F5F7;
    border-radius: 14px;    
}

.brain{
    align-self: center;
    width: 125px;
}

._main__title_premium{
    display: flex;
    flex-direction: column;
}

._main__title_premium h2{
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;   
}

.unlock_premium p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.buttom__go_premium{
    margin-top: 24px;
    color: white;
    padding-top: 12px;
    width: 120px;
    height: 40px;
    background-color: #0C0B0B;
    border-radius: 8px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
}