*{
    margin: 5px;
    box-sizing: border-box;
}



.main{
    display: flex;
    justify-content: space-between;
    
    height: 100vh;
}


.nav{
    
    
    width: 132px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 10px 5px 20px 1px;
    background-color: black;
    border-radius: 24px;
}




.nav_icon{
    width: 26px; 
    height: 26px;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}
.nav_icon__logo h1{
    position: relative;
    right: 10px;
    color: white;
    font-family: 'Baloo Bhai';
    font-size: 64px;    
    cursor: pointer; 
}

.nav_icon__logo{
    padding-top: 10px;
    padding-bottom: 100px;
    margin-top: 15px;
    margin-bottom: 64px;
}




.nav_icon__home{
    margin-bottom: 64px;
    background-image: url('./img/home.svg');
}

.nav_icon__stud{
    margin-bottom: 64px;
    background-image: url('./img/student.svg');
}

.nav_icon__mail{
    margin-bottom: 64px;
    background-image: url('./img/mail.svg');
}

.nav_icon__user{
    margin-bottom: 64px;
    background-image: url('./img/user.svg');
}

.nav_icon__setting{
    margin-bottom: 64px;
    background-image: url('./img/settings.svg');
}




.nav_icon__logout{
    margin-bottom: 40px;
    background-image: url('./img/logout.svg');
}



/* Second ===============================================================*/

.container{
    width: 50vw;
    height: 100%;
    margin-left: 71px;
    margin-right: 63px;

    background-color: blue;
}

.entry{
    
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 200px;
    background-color: #F5F5F7;
    border-radius: 14px;
}

.entry .entry__title h1{
    font-family: 'Baloo Bhai';
}
.entry .entry__title p{
    font-family: 'Roboto';
}





/* Third ======================================================================== */

.aside{
    width: 50vw;
    height: 100%;
    background-color: red;
}



