.main{
    display: flex;
    justify-content: space-between;

    height: 100vh;
}


.nav{
    width: 20vw;
    height: 100%;

    background-color: black;
    border-radius: 24px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3)
}

.nav:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3)
}


.nav_icon{
    width: 26px; 
    height: 26px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav_icon__logo{
    color: white;
    font-family: 'Baloo Bhai';
}

.nav_icon__home{
    background-image: url('./img/home.svg');
}

.nav_icon__stud{
    background-image: url('./img/student.svg');
}

.nav_icon__mail{
    background-image: url('./img/mail.svg');
}

.nav_icon__user{
    background-image: url('./img/user.svg');
}

.nav_icon__setting{
    background-image: url('./img/settings.svg');
}

.nav_icon__logout{
    background-image: url('./img/logout.svg');
}



.container{
    width: 50vw;
    height: 100%;

    background-color: blue;
}


.aside{
    width: 30vw;
    height: 100%;
    background-color: red;
}